h2 {
color:Blue;
font-size: 30px;
font-family: 'Special Elite', cursive;
}


/* #profile_pic { */ */
  /* width:500px; */
  /* height: 500px; */

/* } */


img{
  /* max-height: 500px; */
  size: 500px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
  /* max-height: 50px; */
}
#clothespage{
  Background-image: url("greenpastel.jpg");
  font-family: "Lato",sans-serif;
  max-width: 100%;
  font-size: 40px;
  overflow-x: hidden;
  display: block;
}

#fashionpage{
   Background-image: url("backdrop.jpeg");
  font-family: "Lato",sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  display: block;
  /* border: 1px solid red; */
  /* background-color: red; */
}
html{
  /* border: 3px solid purple; */
  /* background-color: purple; */
}


h1 {
color:Blue;
font-size: 30px;
font-family: 'Special Elite', cursive;
}

/* center {
  position: absolute;
  font-size: 17px;
  font-family: 'Trebuchet MS',bold;
  right: -350px;
   width: 100%;
   height: 150%;
   vertical-align: bottom;
   padding: 270px;

}

center {
  position: absolute;
  font-size: 27px;
  font-family: 'monaco,Consola';
  right: -450px;
   width: 100%;
   height: 150%;
   vertical-align: bottom;
   padding: 380px;
} */

#headingimage{
   position:absolute;
   display: block;
   margin-left: auto;
   margin-right: auto
   padding
   /* margin-left: -225px;
   /* top:20px;
   left:500px; */
   /* left: 55%;
   width:450px; */ */

   z-index: -1;
   /* height: 40%; */

}
.pageheading{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#headingimage{
  /* display: block; */
  /* margin-left: 200px; */
  margin-right: auto;
  margin-left: 25%;
  width: 30%;
  margin-top: 10%;
  /* margin-top: -50px; */
  padding-left: auto;
   /* margin-left: -225px;
   /* top:20px;
   left:500px; */
   /* left: 55%;
   width:450px; */

   z-index: -1;
 }

#titleheading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 50%;
  /* position:absolute;
/* left: 55%; */
/* top: 50px;
margin-left: -150px;
top:250px;
left:50%;
width:450px; */
/* height:50%; */
}

#levislogostyle{
  /* position:absolute;
  top:505px;
  right:800px; */
  width:390px;
  font-size: 90px
  /* height:20%" */
  float:left;
}

#brand{
  position:absolute;
  top:20px;
  left:1150px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
  /* margin-left: 100px; */
  /* border: 2px solid black; */
  height:100%;
  font-family: 'comic sans ms'
  /* background-color: black; */
}
.column{
  float:left;
  padding:10px;
  /* border: 2px solid blue;
  background-color: blue; */
}

#clothingstyle{
  width:90%;
  /* top:500px;
  left:400px; */
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

/* img {
display: block;
margin-left: auto;
margin-right: auto;
} */
img.pos_right {
  position: relative;
  left: 190px;
}


.sidebar {
height: 100%;
width: 180px;
position: fixed;
z-index: 1;
background-color: black;
border: 5px solid white;
overflow-x: hidden;
padding-left: 0px;
top:0;
left:0;
}
.sidebar a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 24px;
color: white;
display: block;
}
.sidebar a:hover {
color: #f1f1f1;
}

.main {
/* margin-left: 160px; /* Same as the width of the sidenav */
/* padding: 0px 10px; */
margin-left: 210px;
/* margin-right: 10px; */
width: 80%;
/* width:calc(100%-180px); */
/* border: solid 1px black; */
top:0;
left:180px;
/* background-color: pink; */
height:100%;
}

.logoimage{
  float:right;
  width:80%;
  position:absolute;
  /* border:solid 1px black; */
}

.logoimage img{
  HEIGHT:80px;
  float:right;

}
.below_heading{
  margin-top:10px;
}
/*
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
} */
.centerText{
  text-align: center;
  font-size: 70px;
}


h4{
  font-family: "Droid Sans";
    font-size: 24px;
    top: -80px;
    margin-right: auto;
  }


p{
  font-family: "Droid Sans";
  font-size:30px;

}

h5{
  font-size:20px;
  text-align:center;

}
#homepage_h1{
  font-family: "Droid Sans";
    font-size: 40px;
    top: -80px;
    margin-right: auto;
    color: black;
}

center {
color:black;
font-size: 50px;
font-family: 'Bookman',bold;
}


#laborchild{
  padding: 0 15px;
  size: 700px;
  float: left;
}

#homepageinfo{
  padding: 10px;
  margin-left: 100px;
}

#alternative{

  width:390px;
  padding: 15px;
  font-family: Courier;
  font-size: 100px;
  /* height:20%" */
  float:left;
}

#pact{
  width:200px;
  padding: 20px;
  /* height:20%" */
  float:left;
}




#homepage_h1{
  font-family: "Droid Sans";
    font-size: 24px;
    top: -80px;
    margin-right: auto;
    color: black;
}

#laborchild{
  padding: 0 15px;
  width:500px;
  float: left;
}

#homepageinfo{
  padding: 10px;
  margin-left: 100px;
}

#people{
  margin-right: 20px;
  width:700px;
  float: right;
}

.centerText_1{
  text_align:center;
  font-size: 40px;
  float: left;


}

#homepage_h1{
  font-size:54px;
  font-family: impact;
}

#fashionhome{
  width:90%;
  /* top:500px;
  left:400px; */
  margin-left: auto;
  margin-right: auto;

}

#water{
  padding: 0 15px;
  width:700px;
  float: left;
}

#bunny{

  margin-right: 20px;
  width:700px;
  float: right;
}

.button{
  background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
margin: 2px 2px;
cursor: pointer;
 border-radius: 25%;
}

#pageimage{
  position:relative;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width:90%;
 /* margin-top: -70px; */
 z-index:7px;
   /* position:absolute;
   margin-left: -120px;
   /* top:20px; */
   /* left:500px; */
   /* left: 55%;
   width:300px;
   text-align: center; */
 }

 #makeupimage{
  position: relative;
  display: block;
  /* margin-top: -50px; */
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  z-index: 5px;
    /* position:absolute;
    margin-top: 120px;
    margin-left:-320px;
    left: 55%;
    width:700px;
    z-index: -1; */

 }

 #makeuppage{
  background-color: #F4DEE7  ;
   font-family: "Lato",sans-serif;
   max-width: 100%;
   font-size: 40px;
   overflow-x: hidden;
   display: block;
 }


 #makeupstyle{
   margin-bottom: -800px;
   bottom: 900px;
   width:90%;
   /* top:500px;
   left:400px; */
   margin-left: auto;
   margin-right: auto;
   border: 2px solid black;
 }




 .button2{
background-color: #D0D7F0; /* Green */
 border: round;
 color: none;
 padding: 15px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 13px;
 margin: 2px 2px;
 cursor: pointer;
  border-radius: 25%;
 }


 #us{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* z-index:-5; */

 }

 #aboutlogo{
   align:center;
 }

 h6{
   font-size:50px;
   margin-left: 26%;
   margin-top: -64px;
   font-family: 'Bookman'

 }

 p{
   margin-top: -84px;
   text-align: center;
 }

 #aboutus{

   background-color: #FBF7D3
 }

 #fashion{
  width=7%;
 }



 #otherways{
   width:60%;
   /* top:500px;
   left:400px; */
  margin-right: auto;
   border: 2px solid black;
 }


 #waysimage{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   z-index:-5;

   /* position:absolute;
   margin-top: 180px;
   margin-left:-320px;
   left: 55%;
   width:700px;
   z-index: -1; */
 }
.makeupDiv{
  width:50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* display: inline; */
}

#pageheading{
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 z-index:-5;
  /* display:block;
  margin-left:auto;
  margin-right:-230px;
  position:absolute;
  margin-left: -230px;
  left: 55%;
  width:550px;
  text-align: center;
  z-index: -5; */
}

#otherwaystyle{
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 60%;
  margin-bottom: -800px;
margin-top: -300px;
  bottom: -900px;
  width:60%;
  /* top:500px;
  left:400px; */
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  /* margin-bottom: -800px;
  bottom: 800px;
  width:60%;
  top:500px;
  left:400px;
  margin-left: auto;
  margin-right: auto;
  border: 2px soilid black; */
}

#names{
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
width: 40%;
font-family: Courier
}

#wayspage{
  background-color: #F5D0A9;
}
#makeup_heading{
  margin-top: 100px;
}


#animal{
width= 250px;
height= 200px;
align="right";
}

#labor2{}
#labor{
  font-size: 50px;
  font-family: monospace;
}

#list {
  margin-bottom:90px;
}

#headingimage2{
   position:absolute;
   display: block;
   margin-left: auto;
   /* margin-right: auto */
   text-align: center;
   width: auto;
   /* margin-left: -225px;
   /* top:20px;
   left:500px; */
   /* left: 55%;
   width:450px; */ */

   z-index: -1;
   /* height: 40%; */

}
h6{
  text-align: center;
  margin-left: 20px;
}

#guide{
  font-size: 40px;
}

#thriftr{
  font-size: 45px;
}

#us{
  font-size: 50px;
}



marquee{
  font-family: 'Comic Sans Ms';
  font-size: 60px;
}
